{% extends 'base.html.twig' %}

{% block title 'Agence de Limeil' %}

{% block body %}
<!-- <div class="containerTitle">
        <h1 data-splitting class="headline headline--twirl">twirling</h1>
</div> -->
    <div class="jumbotron text center">
        <!-- <div class="jumbotronTitle"> 
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>-->
                <h1 class="titleSnake">Agence de Limeil-Brevannes</h1>
           <!-- </a>
         </div> -->
    </div>
<section>

    <div class="container">
        <h2>Nos nouveaux biens</h2><p>Bienvenue !!! Nous sommes le {{ "now"|date("m/d/Y") }}.</p>
        <div class="row flex">
            {% for property in properties %}
            <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                            {% include 'property/_propertyImageFile.html.twig' %}
                                <!-- Route et action avec slugify -->
                                <!-- twig se charge de convertir le getter et de l'utiliser -->
                                <!-- méthode path, création du chemin avec un paramètre l'id (JSON) -->
                                <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.title }} &lowast;</a> 
                                <p class="click" style="font-size:10px;">&uArr; click here to see more !</p>
                            </h5>
                            <p class="card-text">{{ property.city }} ({{ property.postalCode }})</p>
                            <div class="text-primary" style="font-weight: bold;font-size:2rem;">{{ property.formattedPrice }} €</div>
                            <!-- sans la function formattedPrice 
                            <div class="text-primary" style="front-weight: bold;font-size:2rem;">{{ property.Price | number_format(0, '', ' ') }} €</div> -->
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section>
<div class="jumbotron text-center">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                    <h3>Transaction</h3>
                    <img src="../img/transaction.jpg" alt="transaction">
                    <p>Gérez la vente de votre portefeuille de propriétés, terrains, les commerces, bureaux et propriétés de prestige</p>
                    <p><a href="#" class="button">En savoir plus</a></p>
                </div>
                <div class="carousel-item">
                    <h3>Location saisonnière</h3>
                    <img src="../img/location.jpg" alt="location">
				    <p>Avec notre calendrier gérez vos tarifs par jour/semaine/mois et saison ainsi que vos options et réservations</p>
				    <p><a href="#" class="button">En savoir plus</a></p>
                </div>
                <div class="carousel-item">
                    <h3>Programme neuf</h3>
                    <img src="../img/neuf.jpg" alt="neuf">
				    <p>Un module dédié aux biens neufs permet de gérer votre bien ainsi que les lots qui le composent</p>
				    <p><a href="#" class="button">En savoir plus</a></p>
                </div>
                <div class="carousel-item">
                    <h3>Commerces &amp; bureaux</h3>
                    <img src="../img/commerce.jpg" alt="commerce">
				    <p>Notre outil vous permet de détailler les activités et résultats des commerces et toutes les prestations spécifiques pour l'immobilier d'entreprise</p>
				    <p><a href="#" class="button">En savoir plus</a></p>
                </div>
                <div class="carousel-item">
                    <h3>Viager</h3>
                    <img src="../img/viager.jpg" alt="viager">
				    <p>Vous pouvez gérer les spécificités d'une vente en viager et en nue propriété avec le bouquet, la rente ainsi que l'age des occupants</p>
				    <p><a href="#" class="button">En savoir plus</a></p>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>

<section id="skills">
    <div class="container">
        <div class="skills-header">
            <h3>Our Skills</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate obcaecati voluptates repudiandae quis neque nisi aspernatur nulla dolor nemo, officiis est, odio ab eveniet magnam repellat, eos ratione explicabo quisquam?
            </p>
        </div>
        <div class="skills-content">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</section>

<!-- <section id="pictures">
    <div class="container">
        <div class="pictures-header">
            <h1>Somes Effect Pictures</h1>

            <h2 id="demo01">Effect Zoom In</h2>
            <div class="hover01 column">
                <div>
                    <figure><img src="https://picsum.photos/300/200?image=244" /></figure>
                    <span>Hover</span>
                </div>
                <div>
                    <figure><img src="https://picsum.photos/300/200?image=1024" /></figure>
                    <span>Hover</span>
                </div>
                <div>
                    <figure><img src="https://picsum.photos/300/200?image=611" /></figure>
                    <span>Hover</span>
                </div>
            </div>

            <h2 id="demo09">Effect Sepia</h2>
            <div class="hover09 column">
                <div>
                    <figure><img src="https://picsum.photos/300/200?image=244" /></figure>
                    <span>Hover</span>
                </div>
                <div>
                    <figure><img src="https://picsum.photos/300/200?image=1024" /></figure>
                    <span>Hover</span>
                </div>
                <div>
                    <figure><img src="https://picsum.photos/300/200?image=611" /></figure>
                    <span>Hover</span>
                </div>
            </div>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate obcaecati voluptates repudiandae quis neque nisi aspernatur nulla dolor nemo, officiis est, odio ab eveniet magnam repellat, eos ratione explicabo quisquam?
            </p>
        </div>
        <div class="pictures-content">
            <h2 id="demo07">Effect Blur</h2>
            <div class="hover07 column">
                <div>
                    <figure><img src="https://picsum.photos/300/200?image=244" /></figure>
                    <span>Hover</span>
                </div>
                <div>
                    <figure><img src="https://picsum.photos/300/200?image=1024" /></figure>
                    <span>Hover</span>
                </div>
                <div>
                    <figure><img src="https://picsum.photos/300/200?image=611" /></figure>
                    <span>Hover</span>
                </div>
            </div>
        </div>
    </div>
</section> -->


<section>
    <div class="jumbotron text center column">
        <h3>Notre Equipe : </h3>
        <div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="media">
                        <a class="pull-left" href="#">
                        <img class="media-object dp img-circle" src="images/img-profil/charlie-ico.jpg" style="width: 100px;height:100px;">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Charlie Sondagar <small> India</small></h4>
                            <h5>Software Developer at <a href="#">DAOS.fr</a></h5>
                            <hr style="margin:8px auto">
                            <span class="label label-default">HTML5/CSS3</span>
                            <span class="label label-default">jQuery</span>
                            <span class="label label-info">PHP</span>
                            <span class="label label-default">Android</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="media">
                <a class="pull-left" href="#">
                <img class="media-object dp img-circle" src="https://www.denis-chanet.fr/img/photoprofil.jpg" style="width: 100px;height:100px;">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Chanet Denis <small> Laos</small></h4>
                    <h5>Lead Developer & founder at <a href="#">DAOS.fr</a></h5>
                    <hr style="margin:8px auto">
                    <span class="label label-default">HTML5/CSS3</span>
                    <span class="label label-default">jQuery</span>
                    <span class="label label-info">SymfonyPHP</span>
                    <span class="label label-default">mobile</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="skills">
    <div class="container">
        <div class="skills-header">
            <h3>HOME STAGING</h3>
            <div id="div-staging">
                <img src="../img/home-staging.jpg" alt="image-home-staging"/>
            </div>
        </div>
        <div class="skills-content">
            <div><a class="nav-conseil" href="{{ path('home_stagin') }}"><i class="fa fa-handshake-o"></i> Découvrez nos conseils</a></div>
            <div><P>Cette peinture jaune citron du salon... c'est votre goût mais pas celui de votre futur acquéreur !

C'est prouvé, 35 % des biens se vendent vite dès lors qu'ils bénéficient d'un bon relookage.</P></div>
            <div></div>
            <div></div>
        </div>
    </div>
</section>

<section id="home-staging">
        <div class="jumbotron text center column">
            <div id="div-staging">
                <!-- <img src="../img/home-stagin.jpeg" alt="image-home-staging"/> -->
            </div>
            <div>
                <h3>Avis Clients</h3>
                <P>Superbe travail !

                    Nous avons effectué un relooking en 2 semaines. Le résultat est surprenant!</P>
            </div>
            <a class="nav-conseil" href="{{ path('avis_user') }}"><i class="fa fa-handshake-o"></i> Découvrez les avis des utilisateurs</a>

        </div>
</section>


{% endblock %}

