{% extends 'base.html.twig' %}

{% block title 'Gérer les biens' %}

{% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <style>
    #counterNbr{
        font-size: 1.2rem;
        font-weight: bold;

    }
    .h1, h1 {
        margin-left: auto;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 7em;
    }
    .table thead th {
        border-bottom: 2px solid #dee2e6;
        border-bottom: 8px solid #dee2e6;
    }
    .table td, .table th {
        padding: .75rem;
        border-top: 1px solid #dee2e6;
        padding: 0.75rem;
        border-top: 8px solid #dee2e6;
    }
    </style>
{% endblock %}

{% block body %}

<div class="jumbotron text center">
    <h1 class="titleSnakeBack">Gérer les biens!</h1>
</div>
<div class="container mt-5">

    <div class="text-right">
        <a href="{{ path('admin.property.new') }}" class="btn btn-primary">Créer un nouveau bien</a>
    </div>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <table class="table table-striped">
        <thead>
            <tr>


            <th>Nombre de biens :</php> </th>
                <td id="counterNbr" class="text-danger">
                        <!-- // affiche le total de biens   -->
                        {% set counter = 0 %}
                {% set counterNbr = 0 %}
                {% for property in properties %}
                        {% set counterNbr = counterNbr + 1 %}   
                {% endfor %}

                {{ counterNbr }} 
                    
                </td>   
            </tr>
            <tr>
                <th>Titre du bien</th>
                <th>Surface habitable</th>
                <th>Ville</th>
                <th>Prix du bien</th>
                <th>Soldé</th>
                <th>Actions</th>
                <th>Photos</th>
            </tr>
        </thead>
        <tbody>
        {% for property in properties %}
        <tr>
            <td class="text-info">{{ property.title }}</td>
            <td>{{ property.surface }} m²</td>        
            <td class="text-success">{{ property.city }}</td>
            <td>{{ property.price }} €</td>        
            <td{% if property.sold == 1 %}
            class="text-danger"> Le bien est vendu !
                {% else %}
            class="text-primary">Bien disponible !
                {% endif %}
            </td>
            <td>    <!-- le liens est une route par id, pour concaténer avec twig j'utilise la tilde-->
                <a href="{{ path('property.show', {slug: property.slug, id: property.id}) }}" class="btn btn-info">Voir le bien</a>

                <a href="{{ path('admin.property.edit', {id: property.id}) }}" class="btn btn-success">Editer</a>

                <a href="#" class="btn btn-warning">Dupliquer le bien</a>

                <form method="post" action="{{ path('admin.property.delete', {id: property.id}) }}" style="display: inline-block" onsubmit="return confirm('Etes vous vraiment sûr?')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value={{csrf_token('delete' ~ property.id) }}>
                 <button class="btn btn-danger">Supprimer</button>
                </form>
            </td>
            <td>{% include 'property/_propertyImageFile.html.twig' %}</td>        
            
        </tr>
        {% endfor %}
        </tbody>
    </table>

        <div class="text-right">
            <a href="{{ path('admin.property.new') }}" class="btn btn-primary">Créer un nouveau bien</a>
        </div>
        <div class="text-right">
            <a href="{{ path('home') }}" class="btn btn-danger">Retour</a>
        </div>
</div>
    
{% endblock %}