{% extends 'base.html.twig' %}

{% block title 'Tous nos bien' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            {{ form_start(form) }}
            <div class="form-row align-items-end">
                <div class="col">
                    {{ form_row(form.minSurface) }}
                </div>
                <div class="col">
                    {{ form_row(form.maxPrice) }}
                </div>
                <div class="col">
                    {{ form_row(form.options) }}
                </div>
                <div class="col">
                    <div class="form-group">
                        <button class="btn btn-primary">Rechercher</button>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
        <div class="container mt-4">
            <h1>Nombre de Biens trouvés : 
                {% set counter = 0 %}
                {% set counterNbr = 0 %}
                {% for property in properties %}
                        {% set counterNbr = counterNbr + 1 %}   
                {% endfor %}
                
                {{ counterNbr }} 
            </h1>
            <p>Vous pouvez effectuer une recherche d'un bien selon vos critères.<br>
            Cliquez sur le titre de l'annonce pour voir les détails.</p>
            
            <div class="row">
                {% for property in properties %}
                    <div class="col-md-4">
                        {% include 'property/_property.html.twig' %}
                    </div>
                {% endfor %}
            </div>

            <div class="pagination">
                {{ knp_pagination_render(properties) }}
            </div>

            </div>
        </div>
    <div class="text-right">
        <a href="{{ path('home') }}" class="btn btn-danger">Retour</a>
    </div>
{% endblock %}