{% extends 'base.html.twig' %}

{% block title %}Gestion des Users{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h1>Gestion des Utilisaeurs</h1>
    
</div>

<div class="container mt-5">

    <div class="text-right">
        <a href="{{ path('admin_user.new') }}" class="btn btn-primary">Créer un nouvel utilisateur</a>
    </div>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre d'utilisateur : 
                {% set counter = 0 %}
                {% set counterNbr = 0 %}
                {% for user in users %}
                        {% set counterNbr = counterNbr + 1 %}   
                {% endfor %}

                {{ counterNbr }}  </th>              
            </tr>
            <tr>
                <th>N° d'utilisateur</th>
                <th>Username</th>
                <th>Email</th>
                <th>Date d'inscription</th>
                <th>Adresse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

    {% for users in users %}
        <tr>
            <td>{{ users.id }}</td>
            <td>{{ users.username }}</td>
            <td>{{ users.email }}</td>
            <td>date d'inscription</td>
            <td>Adresse</td>
            <td>
                <a href="{{ path('admin_user.edit', {id: users.id}) }}" class="btn btn-secondary">Modifier</a>

                <form method="post" action="{{ path('admin_user.delete', {id: users.id}) }}" style="display: inline-block" onsubmit="return confirm('Etes vous vraiment sûr?')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value={{csrf_token('delete' ~ users.id) }}>
                    <button class="btn btn-danger">Supprimer</button>
                </form>
            </td>
        </tr>
   
        {% else %}
            Aucun utilisateur trouvé!
            No users have been found.
            

    {% endfor %}
        </tbody>
    </table>

        <section id="favoris">
     
        </section>
</div>

{% endblock %}
