{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}
<div class="container">
    <h1>Bonjour, <br>{{ users.username }}</h1>
    <?php
        echo "Bonjour, je suis un script PHP !";
    ?>

    <div>Espace compte</div>
    <div>Modifier son profil: <button class="btn btn-primary">modifier</button> </div>

    <div>Votre Email: {{ users.email }}</div>

    {% for users in users %}
        <article>
            <div class="content">
            <div>{{ users.email }}</div>
            <div>{{ users.roles }}</div>
        {% for address in address %}

            <div>{{ address.address }}</div>
            <div>{{ address.postal_code }}</div>
            <div>{{ address.city }}</div>

        {% endfor %}

                </div>
        </article>
    {% endfor %}
        <section id="favoris">
        {% for user in users %}
            * {{ user.name }}
        {% else %}
            No users have been found.
        {% endfor %}
            
        </section>
</div>
<div class="container mt-2">
    <div>
        <h2>photo</h2>
    </div>
    <div class="container mt-4">
        <div class="">
            <h1>Editer mon profil</h1>
            {{ include('users/_form.html.twig', {button: 'Editer'}) }}


            <div class="text-right">
                <a href="{{ path('admin.property.index') }}" class="btn btn-danger">Retour</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}