{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}
<div class="container">
    <h1>Bonjour, <br>{{ users.username }}</h1>

    <div>Votre Email: {{ users.email }}</div>

    {% for users in users %}
        <article>
            <div class="content">
            <div>{{ users.email }}</div>
            <div>{{ users.roles }}</div>
                </div>
        </article>
    {% endfor %}
        <section id="favoris">
        {% for user in users %}
            * {{ user.name }}
        {% else %}
            No users have been found.
        {% endfor %}
            
        </section>
</div>
{% endblock %}