<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">

        {% block stylesheets %}
        
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        
        {{ encore_entry_link_tags('app') }}
        
        {% endblock %}

        <style>
        </style>
        <?php
    // Récupère l'heure du serveur

       $localtime = localtime();

       $seconde =  $localtime[0];
       $minute =  $localtime[1];
       $heure =  $localtime[2];

    ?>
  <script src="js/clock.js"></script>

    <script type="text/javascript">

          bcle=0;

function clock()
{
  if (bcle == 0)
  {
    heure = <?php echo $heure ?>;
    min = <?php echo $minute ?>;
    sec = <?php echo $seconde ?>;
  }
  else
  {
    sec ++;
    if (sec == 60)
    {
      sec=0;
      min++;
      if (min == 60)
      {
        min=0;
        heure++;
      };
    };
  };
  txt="";
  if(heure < 10)
  {
    txt += "0";
  }
  txt += heure+ ":";
  if(min < 10)
  {
    txt += "0"
  }
  txt += min + ":";
  if(sec < 10)
  {
    txt += "0"
  }
  txt += sec ;
  timer = setTimeout("clock()",1000);
  bcle ++;
  
  document.clock.date.value = txt ;
}
</script>


<style type="text/css">

#clock{
    display:inline;
    margin-top: ;
}
.style {
  border-width: 0;
  background-color: transparent;
  color: white;}
</style>

<script type="text/javascript">
function startTime()<!-- on definit la fonction -->
{
var aujourdhui=new Date() <!-- on nomme la variable du jour -->
var h=aujourdhui.getHours() <!-- on recupere lheure -->
var m=aujourdhui.getMinutes()<!-- on recupere les minutes -->
var s=aujourdhui.getSeconds() <!--on recupere les secondes -->

m=checkTime(m)
s=checkTime(s)
document.getElementById('txt').innerHTML=h+":"+m+":"+s
t=setTimeout('heure()',500)
}

function checkTime(i)
{
if (i<10)
  {i="0" + i}
  return i
}
</script>
    </head>
    <body onload="clock()" onload="startTime()">
    <!-- body navbar fixed-top   style="background-color: #9933ff;"   -->

    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="{{ path('home') }}">Agence</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" style="text-shadow: 1px 2px 2px #1C6EA4;">
                <li class="nav-item">
                                <!-- route page Acheter un bien avec la seach -->
                    <a class="nav-link {% if current_menu is defined and current_menu == 'properties' %}active{% endif %}" href="{{ path('property.index') }}">Acheter</a>
                </li>
                
                <li class="nav-item">
                                <!--  -->
                    <a class="nav-link" href="#">Vendre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('louer') }}">Louer</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Informations 
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('about') }}">A Propos de nous</a>
                        <a class="dropdown-item" href="{{ path('infos') }}">Informations</a>
                        <a class="dropdown-item" href="{{ path('privacy') }}">Politique de confidentialité</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('contact') }}">Nous Contacter</a>
                    </div>
                </li>
            {% if not app.user %}
          
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('security_registration') }}">S'inscrire</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('security_login')}}">Se connecter</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="#" style="background-color: #;" style="text-shadow: 1px 2px 2px #1C6EA4;">Bienvenue {{ app.user.username }}</a>
                </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item" style="text-shadow: 1px 2px 2px #FFBF00;">
                    <a class="nav-link" href="{{ path('admin.property.index') }}" style="text-shadow: 1px 2px 2px #FFBF00;">Gérer les biens</a>
                </li>
                <li class="nav-item" style="text-shadow: 1px 2px 2px #FFBF00;">
                    <a class="nav-link" href="{{ path('admin_user.index') }}" style="text-shadow: 1px 2px 2px #FFBF00;">Gérer les utilisateurs</a>
                </li>
            {% endif %}
                <li class="nav-item" style="background-color: ;">
                    <a href="{{path('email')}}" class="nav-link" style="background-color: #;">Mes messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('security_logout')}}" style="background-color: #;">Se déconnecter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('account')}}" style="background-color: #;">Mon compte</a>
                </li>
                <li>  <a href=""> </a> </li>
            {% endif %}
            
                <!--  Charge la fonction clock dans le corps de la page  -->
                <div class="clock">
                <!--  Affiche l'heure  -->
                <?php echo date('d/m/Y'); ?>
                <form id="clock" name="clock" onSubmit="0">
                <input type="text" name="date" size="5" readonly="true" class="style">
                </form>
                </div>
                <!--  END de la fonction clock dans le corps de la page  -->
                <li >  <a href="">  {{ "now"|date("m/d/Y", "Europe/Paris") }} </a> </li>
            </ul>

            <div id="txt"></div>
            <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
            <!-- <li class="nav-item">
                
                <button type="button" class="btn btn-secondary float-right"><a class="nav-link" href="#">Compte</a></button>
            </li> -->
        </div>
    </nav>
        <!-- endbody navbar -->
        {% block body %}

        {% endblock %}
    
        {% block footer %}
        
        
        <footer id="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 footer-info">
                            <h3>Site immobilier</h3>
                            <p>Développé entièrement par Denis Chanet. J'ai créé ce site en autonomie. Avec le framework Symfony 4, Php, Twig, JQuery, Ajax...
                            Actuellement en cour de programmation...
                            </p>
                        </div>
                        <div class="col-lg-3 col-md-6 footer-links">
                            <h4>Useful Links</h4>
                            <ul>
                                <li>
                                    <i class=""></i>
                                    <a href="{{ path('home') }}">Home</a>
                                </li>
                                <li>
                                    <i class="ion-ios-arrow-right"></i>
                                    <a href="{{ path('about') }}">About us</a>
                                </li>
                                <li>
                                    <i class="ion-ios-arrow-right"></i>
                                    <a href="{{ path('property.index') }}">Services</a>
                                </li>
                                <li>
                                    <i class="ion-ios-arrow-right"></i>
                                    <a href="#">Terms of service</a>
                                </li>
                                <li>
                                    <i class="ion-ios-arrow-right"></i>
                                    <a href="#">Privacy policy</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 footer-contact">
                            <h4>Nous contacter</h4>
                            <p>
                                Avenue de Verdun
                                <br>
                                Limeil-Brevannes 
                                <br>
                                France
                                <br>
                                <strong>Phone:</strong>
                                06.00.00.00.00
                                <br>
                                <strong>Email:</strong>
                                agence@example.com
                                <br>
                            </p>
                            <div class="social-links">
                                <a class="facebook" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a class="instagram" href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a class="linkedin" href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 footer-newsletter">
                            <h4>Our Newsletter</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae repellat sint ad amet expedita, impedit assumenda veritatis modi eveniet alias, pariatur a aut nemo quam magni et illum ipsa accusantium.</p>
                            <form action="" method="">
                                <input type="email" name="email">
                                <input type="submit" value="Subscribe">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="container-copyright">
                    <div class="copyright">&copy; Copyright <strong>Agence de Limeil</strong>
                        
                    </div>
                    <div class="credits">
                        Designed by 
                        <a href="#">Denis Chanet</a>
                    </div>
                </div>
                <a class="back-to-top" href="#" style="display: inline;">
            <img id="back-to-top" src="" alt="back-to-top"></a>
            <!--Linkedin-->
            <button type="button" class="btn btn-li"><i class="fab fa-linkedin-in"></i></button>
            
            </div>
            <a href=""></a>
            
        </footer>
        

        {% endblock %}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>


    

    
        {% block javascripts %}
        
    <script src="{{ asset('build/app.js') }}"></script>
    {{ encore_entry_script_tags('app') }}

        
        
        {% endblock %}

    </body>
</html>
