<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% block stylesheets %}
        
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        
        {{ encore_entry_link_tags('app') }}
        
        {% endblock %}

        <style>
        </style>
    </head>
    <body>
    <!-- body navbar fixed-top   style="background-color: #9933ff;"   -->

    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="{{ path('home') }}">Agence</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="nav-Header" class="navbar-nav mr-auto" style="text-shadow: 1px 2px 2px #1C6EA4;">
                <li class="nav-item">
                                <!-- route page Acheter un bien avec la seach -->
                    <a class="nav-link {% if current_menu is defined and current_menu == 'properties' %}active{% endif %}" href="{{ path('property.index') }}"><i class="fa fa-home"></i> Acheter</a>
                </li>
                
                <li class="nav-item">
                                <!--  -->
                    <a class="nav-link {% if current_menu is defined and current_menu == 'properties' %}active{% endif %}" href=""><i class="fa fa-euro"></i> Vendre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('louer') }}"><i class="fa fa-key"></i> Louer</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Informations 
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('about') }}"><i class="fa fa-users"></i> A Propos de nous</a>
                        <a class="dropdown-item" href="{{ path('infos') }}"><i class="fa fa-info-circle"></i> Informations</a>
                        <a class="dropdown-item" href="{{ path('privacy') }}"><i class="fa fa-lock"></i> Politique de confidentialité</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('contact') }}"><i class="fa fa-envelope"></i> Nous Contacter</a>
                    </div>
                </li>
            {% if not app.user %}
          
                <li class="nav-item log">
                    <a class="nav-link" href="{{ path('security_registration') }}"><i class="fa fa-user-plus"></i> S'inscrire</a>
                </li>
                <li class="nav-item log">
                    <a class="nav-link" href="{{path('security_login')}}"><i class="fa fa-sign-in"></i> Se connecter</a>
                </li>
            {% else %}
                <div class="divider-vertical"></div>

                <li class="nav-item">
                    <a class="nav-link" href="#" style="text-shadow: 1px 2px 2px #1C6EA4;">Bienvenue {{ app.user.username }}</a>
                </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item dropdown red">
                    <a class="nav-link dropdown-toggle red" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Back-Office
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('admin') }}"><i class="fa fa-user-secret"></i>  Administration</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('admin.property.index') }}"><i class="fa fa-home"></i> Gestion des biens</a>
                        <a class="dropdown-item" href="{{ path('admin_user.index') }}"><i class="fa fa-user"></i>  Gestion des utilisateurs</a>
                    </div>
                </li>
                {#<li class="nav-item" style="text-shadow: 1px 2px 2px #FFBF00;">#}
                    {#<a class="nav-link" href="{{ path('admin.property.index') }}" style="text-shadow: 1px 2px 2px #FFBF00;">Gérer les biens</a>#}
                {#</li>#}
                {#<li class="nav-item" style="text-shadow: 1px 2px 2px #FFBF00;">#}
                    {#<a class="nav-link" href="{{ path('admin_user.index') }}" style="text-shadow: 1px 2px 2px #FFBF00;">Gérer les utilisateurs</a>#}
                {#</li>#}
            {% endif %}
                <li class="nav-item">
                    <a href="{{path('email')}}" class="nav-link"><i class="fa fa-comments"></i> Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('account')}}"><i class="fa fa-user-circle"></i> Mon compte</a>
                </li>
                <li class="nav-item log">
                    <a class="nav-link" href="{{path('security_logout')}}"><i class="fa fa-sign-out"></i> Se déconnecter</a>
                </li>
            {% endif %}
            </ul>
            <ul>

            </ul>
            <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
            <!-- <li class="nav-item">
                
                <button type="button" class="btn btn-secondary float-right"><a class="nav-link" href="#">Compte</a></button>
            </li> -->
        </div>
    </nav>
        <!-- endbody navbar -->
        {% block body %}

        {% endblock %}
    
        {% block footer %}
        
        
        <footer id="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 footer-info">
                            <h3>Site immobilier</h3>
                            <p>Développé entièrement par Denis Chanet. J'ai créé ce site en autonomie. Avec le framework Symfony 4, Php, Twig, JQuery, Ajax...
                            Actuellement en cour de programmation...
                            </p>
                        </div>
                        <div class="col-lg-3 col-md-6 footer-links">
                            <h4>Useful Links</h4>
                            <ul>
                                <li>
                                    <i class=""></i>
                                    <a href="{{ path('home') }}">Home</a>
                                </li>
                                <li>
                                    <i class="ion-ios-arrow-right"></i>
                                    <a href="{{ path('about') }}">About us</a>
                                </li>
                                <li>
                                    <i class="ion-ios-arrow-right"></i>
                                    <a href="{{ path('property.index') }}">Services</a>
                                </li>
                                <li>
                                    <i class="ion-ios-arrow-right"></i>
                                    <a href="#">Terms of service</a>
                                </li>
                                <li>
                                    <i class="ion-ios-arrow-right"></i>
                                    <a href="#">Privacy policy</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 footer-contact">
                            <h4>Nous contacter</h4>
                            <p>
                                Avenue de Verdun
                                <br>
                                Limeil-Brevannes 
                                <br>
                                France
                                <br>
                                <strong>Phone:</strong>
                                06.00.00.00.00
                                <br>
                                <strong>Email:</strong>
                                agence@example.com
                                <br>
                            </p>
                            <div class="social-links">
                                <a class="facebook" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a class="instagram" href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a class="linkedin" href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 footer-newsletter">
                            <h4>Our Newsletter</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae repellat sint ad amet expedita, impedit assumenda veritatis modi eveniet alias, pariatur a aut nemo quam magni et illum ipsa accusantium.</p>
                            <form action="" method="">
                                <input type="email" name="email">
                                <input type="submit" value="Subscribe">
                            </form>
                        </div>
                    </div>
                </div>

            <!--Linkedin-->
                    {#<i class="icon icon-back"></i>#}
            {#<button type="button" class="btn btn-li"><i class="fab fa-linkedin-in"></i></button>#}
            </div>
            {#<a href=""></a>#}
            <div class="container-copyright">
                <div class="copyright">&copy; Copyright <strong>Agence de Limeil</strong>

                </div>
                <div class="credits">
                    Designed by
                    <a href="#">Denis Chanet</a>
                </div>
                <a class="back-to-top" href="#" style="display: inline;"><p>Back to top</p>
                </a>
            </div>
        </footer>
        

        {% endblock %}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>


    

    
        {% block javascripts %}
        
    <script src="{{ asset('build/app.js') }}"></script>
    {{ encore_entry_script_tags('app') }}

        
        
        {% endblock %}

    </body>
</html>
